POSTGRES_USER=ip_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=ip_database
POSTGRES_HOST=localhost
POSTGRES_PORT=5477

REDIS_HOST=localhost
REDIS_PORT=6344

# Max requests per window per IP
RATE_LIMIT_REQUESTS=60
# Window duration in seconds
RATE_LIMIT_WINDOW=60